<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
			content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Passports API</title>
	</head>
	<body>
		<h1>{{pageTitle}}</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deleniti maxime praesentium veniam. Cupiditate ex ipsam molestias nulla pariatur porro quae quia, quo reiciendis reprehenderit. Dolor facilis ipsum provident velit!</p>
		<br><br>
		<h2>{{message}}</h2>
		<footer>
			Copyright {{ currentYear }}
		</footer>
	</body>
</html>
